{{ range .Site.Pages }}
<h3>{{ .Title }}</h3>
<ul>
  <li><b>RelPermalink:</b> {{ .RelPermalink }}</li>
  <li><b>Permalink:</b> {{ .Permalink }}</li>
  <li><b>Type:</b> {{ .Type }}</li>
  <li><b>Section:</b> {{ .Section }}</li>
  <li><b>Kind:</b> {{ .Kind }}</li>
  <li><b>Draft:</b> {{ .Draft }}</li>
  <li><b>Date:</b> {{ .Date }}</li>
  <li><b>PublishDate:</b> {{ .PublishDate }}</li>
  <li><b>LastMod:</b> {{ .Lastmod }}</li>
  <li><b>Weight:</b> {{ .Weight }}</li>
  {{ if .Params }}
  <b>Params:</b>
  <ul>
    {{ range $key, $value := .Params }}
    <li>{{ $key }}: {{ $value }}</li>
    {{ end }}
  </ul>
  </li>
  {{ end }}
</ul>
{{ end }}