<ul>
  {{ range .Site.Pages }}
    <li>
      Title – <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong><br>
      Rel Permalink – <strong><a href="{{ .RelPermalink }}">{{ .RelPermalink }}</a></strong><br>
      Permalink – <strong><a href="{{ .Permalink }}">{{ .Permalink }}</a></strong><br>
      URL – <strong><a href="{{ .URL }}">{{ .URL }}</a></strong><br>
      Type – <strong>{{ .Type }}</strong><br>
      Kind – <strong>{{ .Kind }}</strong><br>
      Draft – <strong>{{ .Draft }}</strong><br>
      Date – <strong>{{ .Date.Format "Monday, January 2, 2006 at 3:04:05 PM" }}</strong> CT<br>
      Publish Date – <strong>{{ .PublishDate.Format "Monday, January 2, 2006 at 3:04:05 PM" }}</strong> CT<br>
      Last Modified – <strong>{{ .Lastmod.Format "Monday, January 2, 2006 at 3:04:05 PM" }}</strong> CT<br>
      Weight – <strong>{{ .Weight }}</strong><br>
      Navigation – <strong>{{ .Params.navigation }}</strong><br>

      {{ if .Section }}
      Section – <strong>{{ .Section }}</strong><br>
      {{ end }}

      {{ with .Params.menu }}
      Menu – <strong>{{ . }}</strong><br>
      {{ end }}

      {{ with .Layout }}
      Layout – <strong>{{ . }}</strong><br>
      {{ end }}

      {{ with .Params.redirect }}
      Redirect – <strong><a href="{{ . }}">{{ . }}</a></strong><br>
      {{ end }}

      {{ with .Params.categories }}
      Categories – <strong>
          {{ range $i, $cat := . }}
            <a href="{{ "/categories/" | relURL }}{{ $cat | urlize }}">{{ $cat }}</a>{{ if lt (add $i 1) (len .) }}, {{ end }}
          {{ end }}
        </strong><br>
      {{ end }}

      {{ with .Params.custom_summary }}
      Custom Summary – <strong>{{ . }}</strong><br>
      {{ end }}

      {{ with .Params.guid }}
      GUID – <strong>{{ . }}</strong><br>
      {{ end }}

      {{ with .Params.microblog }}
      Microblog – <strong><a href="{{ . }}">{{ . }}</a></strong><br>
      {{ end }}

      {{ with .Params.opengraph }}
      OpenGraph – <strong><a href="{{ . }}">{{ . }}</a></strong><br>
      {{ end }}

      {{ with .Params.post_id }}
      Post ID – <strong>{{ . }}</strong><br>
      {{ end }}

      {{ with .Params.summary }}
      Summary – <strong>{{ . }}</strong><br>
      {{ end }}

      {{ with .Params.thumbnail }}
      Thumbnail – <strong><a href="{{ . }}">{{ . }}</a></strong>
      {{ end }}
    </li>
  {{ end }}
</ul>