{{ range .Site.Pages }}
<ul>
  <li>Title - <strong>{{ .Title }}</strong> <br>RelPermalink - {{ .RelPermalink }} <br>Permalink - {{ .Permalink }} <br>Type - {{ .Type }} <br>Section - {{ .Section }} <br>Kind - {{ .Kind }} <br>Draft - {{ .Draft }} <br>Date - {{ .Date.Format "Monday, January 2, 2006 at 3:04:05 PM" }} CT <br>PublishDate - {{ .PublishDate.Format "Monday, January 2, 2006 at 3:04:05 PM" }} CT <br>LastMod - {{ .Lastmod.Format "Monday, January 2, 2006 at 3:04:05 PM" }} CT <br>Weight - {{ .Weight }} </li>
  {{ if .Params }}
  <strong>Params:</strong>
  <ul>
    {{ range $key, $value := .Params }}
    <li><em>{{ $key }}</em> - {{ $value }}</li>
    {{ end }}
  </ul>
  </li>
  {{ end }}
</ul>
{{ end }}