{{ $pages := .Site.Pages }}
{{ $pages = where $pages "Title" "ne" "" }}
{{ $pages = where $pages "Kind" "page" }}
{{ $pages = where $pages "Type" "in" (slice "page" "archive" "redirect" "photos") }}
{{ $pages = where $pages "Type" "not in" (slice "2025" "categories" "post") }}
{{ $pages = where $pages "Kind" "not in" (slice "section" "taxonomy" "home" "term") }}
{{ $pages = where $pages "Layout" "ne" "post" }}
{{ $pages = where $pages "Section" "not in" (slice "2025" "categories") }}
{{ $pages = sort $pages "Permalink" }}

<ul class="allpages">
  {{ range $pages }}
    {{ if eq .Type "redirect" }}
      {{ $targetPath := .Params.redirect }}
      {{ $target := site.GetPage $targetPath }}
      <li>
        <strong><a href="{{ .Permalink }}">{{ upper .Title }}</a></strong> – redirect to:
        {{ if $target }}
          <strong>{{ upper $target.Title }}</strong> - <a href="{{ $target.Permalink }}">{{ $target.RelPermalink }}</a>
        {{ else }}
          <a href="{{ $targetPath }}">{{ $targetPath }}</a>
        {{ end }}
      </li>
    {{ else }}
      <li><strong><a href="{{ .Permalink }}">{{ upper .Title }}</a></strong></li>
    {{ end }}
  {{ end }}
</ul>