{{ $site  := .Site }}
{{ $pages := $site.RegularPages }}
{{ $pages = where $pages "Title" "ne" "" }}
{{ $pages = where $pages "Kind"  "page" }}
{{ $pages = where $pages "Type"  "in"    (slice "page" "archive" "redirect" "photos") }}
{{ $pages = where $pages "Type"  "not in" (slice "2025" "categories" "post") }}
{{ $pages = where $pages "Kind"  "not in" (slice "section" "taxonomy" "home" "term") }}
{{ $pages = where $pages "Layout" "ne"    "post" }}
{{ $pages = where $pages "Section" "not in" (slice "2025" "categories") }}
{{ $pages = sort $pages "Permalink" }}

<ul class="allpages">
  {{ range $pages }}
    {{ $p := . }}
    {{ if eq $p.Type "redirect" }}
      {{ with $p.Params.redirect }}
        {{- $raw   := . -}}
        {{- $clean := replaceRE "^/" "" $raw -}}
        {{- $clean = replace $clean ".html" "" -}}
        {{- $clean = replace $clean ".md"   "" -}}
        {{- $clean = printf "/%s" $clean -}}
        {{- $target := $site.GetPage $clean -}}

        <li>
          <strong>
            <a href="{{ $p.Permalink }}">{{ upper $p.Title }}</a>
          </strong>
           → 
          {{ if $target }}
            <a href="{{ $raw }}">{{ $raw }}</a>
          {{ end }}
        </li>
      {{ else }}
        <li>
          <strong>
            <a href="{{ $p.Permalink }}">{{ upper $p.Title }}</a>
          </strong>
        </li>
      {{ end }}
    {{ else }}
      <li>
        <strong>
          <a href="{{ $p.Permalink }}">{{ upper $p.Title }}</a>
        </strong>
      </li>
    {{ end }}
  {{ end }}
</ul>