{{ $pages := .Site.RegularPages }}
{{ $pages = where $pages "Title" "ne" "" }}
{{ $pages = where $pages "Kind"  "page" }}
{{ $pages = where $pages "Type"  "in"    (slice "page" "archive" "redirect" "photos") }}
{{ $pages = where $pages "Type"  "not in" (slice "2025" "categories" "post" "surpriseme") }}
{{ $pages = where $pages "Kind"  "not in" (slice "section" "taxonomy" "home" "term") }}
{{ $pages = where $pages "Layout" "ne"    "post" }}
{{ $pages = where $pages "Section" "not in" (slice "2025" "categories") }}
{{ $pages = sort $pages "Permalink" }}

<ul class="allpages">
  {{ range $pages }}
    {{ $cleanRelPermalink := strings.TrimSuffix ".html" .RelPermalink }}
    {{ $cleanRelPermalink = strings.TrimSuffix "/" $cleanRelPermalink }}
    
    {{ if eq .Type "redirect" }}
      {{ $cleanRedirect := .Params.redirect }}
      {{ $cleanRedirect = replaceRE "^(https?://)" "" $cleanRedirect }}
      {{ $cleanRedirect = replaceRE "^www\\." "" $cleanRedirect }}
      {{ $cleanRedirect = strings.TrimSuffix ".html" $cleanRedirect }}
      {{ $cleanRedirect = strings.TrimSuffix "/" $cleanRedirect }}
      {{ $redirectTitle := $cleanRedirect }}
      {{ range where $.Site.Pages "RelPermalink" $cleanRedirect }}
        {{ $redirectTitle = upper .Title }}
      {{ end }}
      <li><a href="{{ .Permalink }}"><strong>{{ upper .Title }}</strong></a> - <a href="{{ .Permalink }}">{{ $cleanRelPermalink }}</a> - redirect to → <a href="{{ .Params.redirect }}">{{ $redirectTitle }}</a></li>
    {{ else }}
      <li><a href="{{ .Permalink }}"><strong>{{ upper .Title }}</strong></a> - <a href="{{ .Permalink }}">{{ $cleanRelPermalink }}</a></li>
    {{ end }}
  {{ end }}
</ul>